@inherits HtmlTemplate

@{
  Layout = new Layout();
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Navbar {
  @(new Navbar((Area.Home, Routes.Options.MessageStoreEnabled)))
}

<div class="row mt-4 mx-2">
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-header">
        Subscription Lag
      </div>
      <div class="card-body d-flex align-items-center justify-content-center h-25">
         <h3 hx-get="@Routes.Prefix/metrics/lag" hx-trigger="load, every 10s">
           ...
         </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Retries
      </div>
      <div class="card-body d-flex align-items-center justify-content-center h-25">
        <h3 hx-get="@Routes.Prefix/metrics/retries" hx-trigger="load, every 10s">
          ...
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Failed
      </div>
      <div class="card-body d-flex align-items-center justify-content-center h-25">
         <h3 hx-get="@Routes.Prefix/metrics/failed" hx-trigger="load, every 10s">
           ...
         </h3>
      </div>
    </div>
  </div>
</div>


