@inherits HtmlLayout

@{
  Layout = new Beckett.Dashboard.Layout();
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Navbar {
  @(new Navbar((Area.MessageStore, Routes.Options.MessageStoreEnabled)))
}

@section Search {
  <form class="d-flex"
        role="search"
        hx-get=""
        hx-target="#results"
        hx-select="#results"
        hx-swap="outerHTML">
    <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <script type="text/javascript">
    document.addEventListener('keyup', e => {
      if (e.code.toLocaleLowerCase() !== 'slash') {
        return;
      }

      e.preventDefault();

      document.getElementById('search').focus();
    });
  </script>
}

<style>
  .timestamp {
    display: none;
  }
</style>
<div id="results">
  @RenderBody()
</div>
<script type="text/javascript">
  window.addEventListener("load", () => {
    document.querySelectorAll(".timestamp").forEach((element) => {
      element.innerText = new Date(Date.parse(element.innerText)).toLocaleString()
      element.classList.add("d-block");
    });
  });
</script>
