@inherits LayoutComponentBase

@if (IsHtmx())
{
  @Body

  return;
}

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@Dashboard.Options.Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js"
          integrity="sha256-RJMXreeIHpSVENthSZHhlcOgmcTHkcJNrOxV+fSipFI="
          crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous">
  </script>
  <style>
    .htmx-indicator {
      display: none;
    }

    .htmx-request .htmx-indicator {
      display: inline;
    }

    .htmx-request.htmx-indicator {
      display: inline;
    }

    .timestamp {
      display: none;
    }
  </style>
  <ThemeBehavior></ThemeBehavior>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="@Dashboard.Prefix">@Dashboard.Options.Title</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <SectionOutlet SectionName="navbar"/>
        <div class="dropdown ms-2">
          <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill"
                 viewBox="0 0 16 16">
              <path
                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
            </svg>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#" onclick="changeTheme();">
                Change Theme
              </a>
            </li>
            <li>
              <div class="dropdown-item disabled">
                <span class="text-muted">v@(DisplayVersion)</span>
              </div>
            </li>
          </ul>
        </div>
        <div>

        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  @Body
</main>
<GlobalBehavior></GlobalBehavior>
<SectionOutlet SectionName="behaviors"/>
</body>
</html>

@code {

  const string HtmxRequestHeader = "HX-Request";

  static readonly string DisplayVersion = BuildDisplayVersion();

  [CascadingParameter] public HttpContext? Context { get; set; }

  private bool IsHtmx() => Context?.Request.Headers.ContainsKey(HtmxRequestHeader) ?? false;

  private static string BuildDisplayVersion()
  {
    var version = typeof(IBeckettBuilder).Assembly.GetName().Version;

    return version != null ? $"{version.Major}.{version.Minor}.{version.Build}" : "0.0.0";
  }

}
